asgiref==3.12.1
Django==6.1
django-widget-tweaks==1.5.1
django-celery-beat==2.7.0
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.3.0
psycopg2-binary==2.9.12
python-dotenv==1.2.3
redis==6.2.0
celery==5.5.0
sqlparse==0.6.0
tzdata==2026.3
whitenoise==6.7.0
